body { color:#5f5f5f;
    font:normal 12px/1.8em Arial, Helvetica, sans-serif;
   }
header{
    background:url(../images/header_bg.jpg)
}
.site_title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:60px;
}
.first-word{
    color: hsl(306, 58%, 32%);
}
a{
    color: hsl(216, 75%, 46%);
}
h1{
    color: white;
}
h2 { font:bold 24px Arial, Helvetica, sans-serif; color:hsl(286, 58%, 29%); }

.tagline{
    color: white;
}
li{
    list-style-type: none;
    
}
li a{
    margin: 5px 7px;
   text-decoration: none;
   border-radius: 2px;
   font-family: Arial, Helvetica, sans-serif ;
   
}
a:active{
    background-color:hsl(216, 92%, 47%) ;
}
header li a{
   background-color: hsl(288, 30%, 49%);
   color: white;
   border: solid white 0.2px 1px;
   
}
footer { 
    background-color:#222222; border-top:1px solid #505050;  color:#fff;}
a.red{
    text-decoration: underline;
    text-decoration-color:hsl(350, 55%, 68%) ;
    color: hsl(351, 44%, 57%);
}
p { font:normal 13px/1.9em Arial, Helvetica, sans-serif;}

button {
    color: hsl(0, 0%, 40%); 
    font-weight: 500; 
    background-color: #f0f0f0; 
    border: none; 
    border-radius: 4px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.fbg { background-color:#222922; color:#fff;}
.fbg h2 { color:#fff;}
.fbg_resize img { border:1px solid #dedede;}

.footer { 
    background-color:#222222; border-top:1px solid #505050; 
    padding:16px 0; color:#fff;
}
.footer img.flogo { float:left; border:none;}

ul.fmenu li a { color:#fff; text-decoration:none;}
ul.fmenu li a:hover, ul.fmenu li.active a { color:#73b40e;}
ul.fmenu li a:hover { text-decoration:underline;}

ol { list-style:none;}
ol li { display:block; clear:both;}

ol li input.text {  border:1px solid #c0c0c0; 
     background:#fff;
}
ol li textarea { border:1px solid #c0c0c0; 
     background:#fff;
}
